body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    transition: 0.3s;
}
.dark-mode {
    background-color: #121212;
    color: white;
}
header {
    text-align: center;
    padding: 20px;
    background: linear-gradient(to right, #1e3c72, #2a5298);
    color: white;
}
button {
    padding: 10px;
    cursor: pointer;
    background: #ff9800;
    border: none;
    color: white;
    font-size: 16px;
}
#projects .project img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s;
}
#projects .project:hover img {
    transform: scale(1.05);
}